<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        My Blog
        {% endblock %}
    </title>
    {% block css_files %}

    {% endblock%}
</head>
<body>
    {% block content %}
        <nav>
            <ul>
                <li><a href="{url home}">home</a></li>
                <li><a href="{url about}">about</a></li>
                <li><a href="{url blog}">blog</a></li>
                <li><a href="{url blog_detail}">blog_detail</a></li>
            </ul>
        </nav>
    {% endblock %}
    
</body>
</html>